h1, h2, h3 {
  line-height: 18px !important;
}

ul li.menu ul {
  margin:0 !important;
  padding: 0 !important;
}

#lang_menu li.menu, #menu li.item, li.menu {
  line-height: 17px !important;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {

  height: 28px!important;

  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.clearTop{
  margin-top:50px !important;
}

.selectFix{
  width:210px;
}